<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Framework.DesktopGL" version="3.7.1.189" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="SadConsole" version="8.7.1" targetFramework="net471" />
  <package id="Serilog" version="2.9.0" targetFramework="net471" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net471" />
</packages>